/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variables */
:root{
    --fuente:#e5e5e5;
    --blanco:#ffffff;
    --azulOscuro:#0A3871;
    --gris:#c5c5c5;
    --grisMedio:#67808e;
    --negrito:#00000014;
    --fondo:#f3f5fc;
    --azulClaro:#d8dfe8;
    --azulMedio:#0a38718a;
    --grafito:#343a40;
    --grafitoClaro:#495057;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
    background: var(--fondo);
}
::selection{
    background: var(--azulOscuro);
    color: var(--blanco);
}
body{
    height: 100%;
}
img{
    max-width: 100%;
}

/* Encabezado */

header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}

/* Seccion Principal */

main{
    display: flex;
    flex-direction: row;
}
.encriptador{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}
.encriptar{
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--gris);
    border-radius: 15px;
    resize: none;
}
.encriptar::placeholder,:focus{
    color: var(--azulOscuro);
}
.encriptador-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}
.texto-aviso{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--grisMedio);
}
.encriptador-contenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}
.boton-encriptar{
    width: 328px;
    height: 67;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--blanco);
    background: var(--azulOscuro);
    border: 1px solid var(--azulOscuro);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--negrito);
}
.boton-encriptar:active{
    box-shadow: inset 2px 2px 4px var(--fuente),
    inset -3px -4px 8px var(--azulOscuro);
    color: var(--azulClaro);
}
.boton-desencriptar{
    width: 328px;
    height: 67;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--azulOscuro);
    background: var(--azulClaro);
    border: 1px solid var(--azulOscuro);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--negrito);
}
.boton-copiar:active,
.boton-desencriptar:active{
    box-shadow: inset 2px 2px 4px var(--azulOscuro),
    inset -3px -4px 8px var(--fuente);
    color: var(--azulMedio);
}
.tarjeta{
    width: 270px;
    height: 580px;
    background: var(--fuente);
    box-shadow: 10px 24px 32px -8px var(--grafito);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;

}
.tarjeta-contenedor{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--fuente);
}
.imagen-muñeco{
    background: var(--fuente);
}
.texto-uno{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--grafito);
    background: var(--fuente);
}
.texto-dos{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--grisMedio);
    background: var(--fuente);
}
.evaluar{
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--grafitoClaro);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;
}
.evaluar:focus{
    outline: none;
}
.boton-copiar{
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--azulClaro);
    border: 1px solid var(--azulOscuro);
    border-radius: 20px;
    cursor: pointer;
}
.boton-encriptar:hover,
.boton-desencriptar:hover,
.boton-copiar:hover{
    transform: scale(0.97);
} 

/* Estilo responsivo */

@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .encriptador{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .encriptador-contenedor{
        display: flex;
        align-items: center;
        position: inherit;
    }
    .encriptador-aviso{
        position: inherit;
        margin: 15px;
    }
    .tarjeta{
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .tarjeta-contenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }
    .imagen-muñeco{
        display: none;
    }
    .boton-copiar{
        position: inherit;
        width: 100%;
    }
    .evaluar{
        width: 100%;
        height: 210px;
        padding: 10px;
    }
}
@media(max-width: 720px){
    header .logo{
        width: 100%;
        background: var(--blanco);
        padding: 2px;
    }
    .encriptar{
        width: 90%;
        font-size: 24px;
    }
    .encriptador-contenedor{
        display: grid;
        gap: 21px;
    }
    .tarjeta{
        width: 90%;
    }
}